@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Merienda:wght@300..900&family=Playwrite+RO:wght@100..400&family=Tiny5&display=swap');
html, body{
    margin: 0;
}

h3{
    text-align: center;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  color: purple;
  /* font-weight: <weight>;
  font-style: normal; */
}
#product-catalog{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.single-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 2rem;
    width : 20%;
    box-shadow: 10px 10px purple;
   
}
.single-product img{
    width: 80%;
    height: 100px;
}

.update{
    background-color: greenyellow;
}

.delete{
    background-color: red;
}

.one{
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

form{
    border: 2px solid black;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

form input{
    margin-bottom: 5px;
}

#post-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}